{% extends "layout.html" %}
{% block content %}
  <div class="card px-1">
    <img class="card-img-top" src="./static/profile_pics/default.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">James Lenahan - Founder</h5>
      <p class="card-text">A salesperson turned software engineer, James has spent his career yearning to start a powerful and disruptive business. With the inception of Code Connect, he was able to translate both his extensive knowledge of the labor market and his newfound love and passion for software engineering into a service that will dramatically shift employment compensation from wage-based to equity-based in the digital world.</p>
    </div>
  </div>

  <div class="card px-1">
    <img class="card-img-top" src="./static/profile_pics/JWW.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Jennifer Orabona - Co-Founder</h5>
      <p class="card-text">JWW</p>
    </div>
  </div>
{% endblock content %}
