
{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron jumbotron-fluid bg-light">
      <div class="container">
        <h1 class="display-4">Code Connect</h1>
        <h2 class="lead">This is the best company idea ever.</h2>
      </div>
    </div>
            {% if current_user.is_authenticated %}
        <div class="card bg-light mt-75">
            <a type="button" class="btn btn-success" href="/account">
                Visit your Account
            </a>
        </div>

              {% else %}
        <div class="card bg-light mt-75">
            <a type="button" class="btn btn-success" href="/register">
                Get Started
            </a>
        </div>
              {% endif %}


{% endblock content %}